## COMMON
MHPD_ISS=
MHPD_CLIENT_ID=
MHPD_CLIENT_SECRET=

## AEM
AEM_HOST=
AEM_USERNAME=
AEM_PASSWORD=

## BACKEND
MHPD_PENSION_DATA_SERVICE=
MHPD_MAPS_CDA_SERVICE=

## ANALYTICS
NEXT_PUBLIC_ADOBE_ANALYTICS_SCRIPT=

## SECURE BETA ACCESS
MHPD_SECURE_BETA_ENABLED=
MHPD_BETA_ACCESS_SERVICE=
