## COMMON
MHPD_ISS=
MHPD_CLIENT_ID=
MHPD_CLIENT_SECRET=

## AEM
AEM_HOST=
AEM_USERNAME=
AEM_PASSWORD=

## BACKEND
MHPD_PENSION_DATA_SERVICE=
MHPD_MAPS_CDA_SERVICE=

## OVERRIDES
NEXT_PUBLIC_MHPD_TIMEOUT_SECONDS=
NEXT_PUBLIC_MHPD_MODAL_TIMEOUT_SECONDS=

## ANALYTICS
NEXT_PUBLIC_ADOBE_ANALYTICS_SCRIPT=

## OVERRIDES
NEXT_PUBLIC_MHPD_TIMEOUT_SECONDS=720
NEXT_PUBLIC_MHPD_MODAL_TIMEOUT_SECONDS=180