[build]
  ignore = "git diff --quiet $CACHED_COMMIT_REF $COMMIT_REF apps/standard-financial-statement package.json libs/shared"

[[context.production.plugins]]
    package = "/netlify/tools/plugins/stop-build"

[[context.deploy-preview.plugins]]
    package = "/netlify/tools/plugins/stop-build"

[[context.develop.plugins]]
    package = "/netlify/tools/plugins/stop-build"

[[plugins]]
    package = "@netlify/plugin-csp-nonce"
    [plugins.inputs]
        reportOnly = true

[dev]
    targetPort = 4380
    autoLaunch = false
    base = "/"
    command = "npx nx run standard-financial-statement:serve"

[[redirects]]
    from = "/fn/*"
    to = "/.netlify/functions/:splat"
    status = 200
